/* Micromodal */

.modal__overlay {
	@apply fixed top-0 right-0 bottom-0 left-0 bg-[#00000099] flex justify-center items-center;
}

.modal__container {
	@apply box-border max-w-lg max-h-screen p-8 overflow-y-auto bg-white rounded;
}

.modal__header {
	@apply flex items-center justify-between;
}

.modal__title {
	@apply mt-0 mb-0 font-semibold text-xl leading-tight text-[#00449e] box-border;
}

.modal__close {
	@apply bg-transparent border-0;
}

/* .modal__header .modal__close:before {
	content: "\2715";
} */

.modal__content {
	@apply mt-8 mb-8 leading-normal text-[#000000cc];
}

.modal__btn {
	-webkit-appearance: button;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
	@apply text-sm px-4 py-2 bg-[#e6e6e6] text-[#000000cc] rounded border-none border-0 cursor-pointer normal-case overflow-visible leading-[1.15] m-0 will-change-transform;
}

.modal__btn:focus,
.modal__btn:hover {
	-webkit-transform: scale(1.05);
	@apply scale-105;
}

.modal__btn-primary {
	@apply bg-[#00449e] text-white;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(-25%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-25%);
	}
}

.modal-slide {
	@apply hidden;
}

.modal-slide.is-open {
	@apply block;
}

.modal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide .modal__container,
.modal-slide .modal__overlay {
	@apply will-change-transform;
}
