@import url("./components/ui/button.css");
@import url("./components/ui/loader.css");
@import url("./components/navbar.css");
@import url("./components/card.css");
@import url("./components/modal.css");
@import url("./components/material-input.css");
@import url("./components/ui/icons/hamburger.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Roboto", sans-serif;
}

#root {
	@apply bg-neutral-100;
}

.bg-app {
	background-image: linear-gradient(180deg, #3b82f6, #3b82f6);
	background-size: 100% 200px;
	background-repeat: no-repeat;
}

@layer components {
	/* Background */

	/* Divider */
	.divider {
		@apply flex items-center;
	}
	.divider::before,
	.divider::after {
		@apply h-[2px] flex-[1] content-[''] bg-slate-300 mx-4;
	}

	/* Status page */
	/* #info-main li {
		@apply flex-grow w-full;
	} */
	/* #info-main li:last-child {
		@apply flex-grow w-full;
	} */
	#info-main li .card {
		@apply h-full m-0 md:p-6;
	}
	#info-main li .card h2 {
		@apply pb-1 font-semibold;
	}
	#info-main .info-main__value {
		@apply text-xl font-semibold text-blue-500 md:text-2xl;
	}
}
